/* Add a black background color to the top navigation */
.footernav {
    background-color: #263746;
    overflow: hidden;
    text-align: center;
}

.footernav a {
  /*background-color: #ddd;*/
    margin-top: 15px;

  color: white; /*change to the leo gray or blue*/
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.footernav a:hover {
  /*background-color: #ddd;*/
  color: #76C4D5; /*change to the leo gray or blue*/
}